@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
#line{
  margin-top:2% ;
}
#hero, #navbar {
  padding:3%;
background-color: #FFF1F1;
background-image: linear-gradient(200deg, #FFF1F1 100%, #97D9E1 0%);
}
#hero{
  border-radius: 100%/ 0 0 0% 30% ;
  padding-bottom: 5vh;
}
#hero-content{
  padding-top: 5%;
}

#sign-in{
 border: 1px solid #1E293B;
 color:#1E293B;
 height: 100%;
 padding-left: 2vw;
 padding-right: 2vw;
 text-align: center;
}
#sign-up{
  height: 100%;
}
#nav-sign{
  padding: 1%;
  padding-left: 2vw;
  padding-right: 2vw;
}
#list{
  display: flex;
  width: 100%;
  justify-content: center;
 position: absolute;
}
#footer{
  background-color: #1E293B;
  padding-top: 10vh;
  border-radius: 100%/ 0% 30% 0 0;
}
#footer-container{
  color:#FFF1F1;
  justify-content: space-around;
}
/* Small screens (sm) */
@media only screen and (max-width: 767px) {
  #list,#nav-sign{
    display:none;
  }
  #hero-content{
    text-align: center;
  }
  #hero-img{
    display:none;
   order: 1;
  }
  #line{
    justify-content: center;
  }
  
  #footer-container{
    color:#FFF1F1;
    display: flex;
    flex-direction: column;
  }
}

/* Medium screens (md) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}

/* Large screens (lg) */
@media only screen and (min-width: 992px) {
 
}
